page {
  height: 100vh;
  background-color: #e9eef5;
  padding: 16rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.swiper {
  border-radius: 20rpx;
  swiper {
    height: 360rpx;
  }
  
  swiper-item {
    border-radius: 20rpx;
    &:first-child{
      background-color: #ad863d;
    }

    &:nth-child(2){
      background-color: #32b152;
    }

    &:last-child{
      background-color: #b93baf;
    }
  }
}

.hello-msg {
  display: flex;
  padding: 16rpx;
  padding-left: 52rpx;
  border-radius: 20rpx;
  font-size: 45rpx;
}

.all-doctor {
  padding: 20rpx;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.msg-doctor-all {
  font-size: 35rpx;
}